{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 align="center">ranbeer</h1>
    {% block content %}
    {% endblock %}
    <img src="{% static 'images/ranbeer.jpg' %}" alt="" align="center">
    <a href=" {% url 'porche' %}">click</a>
    <h1>ranbeerkapoor diehard fan</h1>
    <h1>vijay deverakonda<h1>
</body>

</html>
